:root {
  --bodybg: #003554;

  --textcolor: #168aad;

  /* --footerbg: #003049; */
  --footerbg: #002235;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background: rgb(38, 218, 255);
  background: linear-gradient(
    331deg,
    rgba(38, 218, 255, 1) 5%,
    rgba(11, 11, 58, 1) 84%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  color: white;
}
.mybg {
  background: #003049;
  /* background: transparent; */
  /* position: fixed;
  top: 0;
  zindex: 100; */
}
.logostyle {
  letter-spacing: -7px;
  color: #eb2f40;
  text-shadow: 0 0 20px black;
}
.contact-btn {
  border: none;
  font-size: initial;
  color: ;
  transition: 200ms;
  outline: none;
  border: 1px solid var(--textcolor);
  padding: 6px 15px 5px 10px;
  border-radius: 100px;
  display: flex;
  gap: 5px;
  font-size: large;
  box-shadow: 0 0 2px 2px var(--bodybg);
  background-color: var(--textcolor);
  /* background-color: #cc9918; */
}
.contact-btn:hover {
  color: white !important;
  border-color: transparent;
  background-color: #0b0b3a;
}

.contact-btn:hover .arrow {
  color: white;
  display: inline-block;
  transform: translateX(0px);
  animation: arrow 500ms ease-in infinite alternate;
}

@keyframes arrow {
  to {
    transform: translateX(5px);
  }
}

/* menu items */
.menutitle {
  color: var(--textcolor);
  color: white;
  margin-inline: 30px;
  position: relative;
  outline: none;
  transition: all 200ms ease;
  /* border: 1px solid red; */
  text-shadow: 0 0 5px black;
}

.menutitle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: white;
  transition: 200ms;
}
.menutitle:hover::before,
.menutitle:focus::before {
  width: 120%;
}
.menutitle::after {
  content: '';
  height: 0;
  width: 0;
  background-color: var(--bodybg);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 35%);
  border: 1px solid white;
  transition: 200ms;
  opacity: 0;
}
.menutitle:hover::after,
.menutitle:focus::after {
  height: 7px;
  width: 7px;
  opacity: 1;
}

/* menu items close */
/* ==================title anitm home */

.article-load {
  animation: load 700ms ease-in-out;
}
.article-load-p {
  animation: load-p 400ms ease-in 300ms;
  /* color: var(--textcolor); */
}
@keyframes load {
  0% {
    transform: translateY(-30px);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes load-p {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .article-content {
    width: 80%;
  }
}

/* ==================title anitm home  close========*/
/* ------------------------ */

.myunderline:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
  width: 200px;
  background-color: rgb(205, 222, 172);
}
.myunderline:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  /* transform: translateX(-50%); */
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(232, 231, 244);
}

/* ----------------------------- */
/* contact us page */
.ideabg {
  color: var(--bodybg);
  background-color: #ffc42d;
  padding: 1px 2px;
  border-radius: 5px;
  font-family: consolas;
}
.helpbg {
  background-color: #2ad50b;
  padding: 1px 2px;
  border-radius: 5px;
  font-family: consolas;
}
/* contact us page close */

/* image card css */
.card {
  height: 250px;
  width: 250px;
  display: inline-block;
  background-color: whitesmoke;
  color: var(--footerbg);
  padding: 9px;
  transition: all 200ms ease-in-out;
  opacity: 0.85;
}
.card:hover,
.card:focus {
  height: 290px;
  opacity: 1;
}

.img-box {
  transition: all 300ms ease-in-out;
}

.img-box img {
  width: 100%;
  aspect-ratio: 1/1;
}
.card .content-box {
  margin-top: -20px;
  opacity: 0;
  visibility: hidden;
  transition: all 150ms ease-in-out;
}
.card:hover .content-box,
.card:focus .content-box {
  opacity: 1;
  visibility: visible;
}

.card:hover .img-box,
.card:focus .img-box {
  margin-top: -20px;
  transform: translateY(-20px);
}
@media only screen and (max-width: 600px) {
  .container {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .mytitle {
    font-size: xx-large;
  }
  .content-box {
    align-items: center;
  }
  .myform {
    width: 100%;
  }
}

/*custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #002235;
  /*border-radius: 5px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--textcolor);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #2eb1d9;
}

.redb {
  border: 2px solid red;
}
